@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    /*CORES*/
    --cor1: #8F71FF;
    --cor1_escurecida: #5123ff;
    --cor1_clareada: #cbbeff;
    --cor1_clareada_semitransparente: #cbbeff50;

    --cor2: #82ACFF;
    --cor2_escurecida: #3478ff; 
    --cor2_clareada: #cfdfff;
    --cor2_clareada_semitransparente: #cfdfff50;

    --cor3: #8BFFFF;
    --cor3_escurecida: #3dffff;
    --cor3_clareada: #d8ffff;
    --cor3_clareada_semitransparente: #d8ffff50;

    --cor4: #FF5D9E;
    --cor4_escurecida: #ff0f6f;
    --cor4_clareada: #ffaacc;
    --cor4_clareada_semitransparente: #ffaacc50;

    --cor_borda: #d8d8d8;
    --cor_borda_escurecida: #afafaf;

    /*DECORATIVOS*/
    --sombra_leve: 0px 0px 5px #00000030;
    --sombra_aparente: 0px 0px 10px #00000050;

    /*FONTES*/
    --títulos: "Josefin Sans", sans-serif;
    --textos: "Roboto", sans-serif;
    --texto_observação: "Lato", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--textos);
}

main {
    margin: 60px auto;
    height: fit-content;
    max-width: 600px;
    box-shadow: var(--sombra_leve);
    border-radius: 15px;
    padding: 30px;
    z-index: 1;
}

a {
    font-family: var(--títulos);
}

    /*↓ CABEÇALHO ↓*/
        section.cabeçalho {
            display: flex;
            flex-direction: column;
        }

        div.compartilhar button {
            display: flex;
            cursor: pointer;
            font-family: var(--títulos);
            background: white;
            align-items: center;
            text-decoration: none;
            width: fit-content;
            border: 2px solid var(--cor_borda);
            border-radius: 15px;
            margin: auto 0px auto auto;
            padding: 10px;
            color: black;
            transition-duration: 250ms;
        }

        div.compartilhar button:hover {
            border-radius: 30px;
            border: 2px solid var(--cor1_escurecida);
            background: var(--cor1);
            color: white;
        }

        div.compartilhar button:hover #compartilhar {
            background: white;
        }

        div.compartilhar button:active {
            transform: scale(0.9);
            background: var(--cor1_escurecida);
        }

        #compartilhar {
            background: var(--cor1);
            height: 25px;
            width: 25px;
            margin: auto 10px auto auto;
            -webkit-mask: url(imagens/compartilhar.svg);
            mask: url(imagens/compartilhar.svg);
        }

        #foto {
            height: 200px;
            margin: auto auto -100px auto;
            z-index: 1;
            border: 5px solid var(--cor1);
            border-radius: 100%;
            box-shadow: var(--sombra_aparente);
            transition-duration: 250ms;
        }

        div.container-cabeçalho {
            border: 2px solid var(--cor_borda);
            border-radius: 15px;
            padding: 120px 20px 20px 20px;
            text-align: center;
            background: white;
            transition-duration: 250ms;
        }

        div.container-cabeçalho h1 {
            font-family: var(--títulos);
            font-size: 2.5em;
        }

        div.container-cabeçalho p {
            margin-bottom: 30px;
            font-size: 1.3em;
        }

        .container-icones-cabeçalho {
            display: flex;
            width: fit-content;
            margin: auto;
            flex-direction: row;
            align-content: center;
        }

        div.ícone-cabeçalho img {
            width: 40px;
            height: 40px;
            margin: 0px 5px;
            transition-duration: 250ms;
        }

        div.ícone-cabeçalho img:hover {
            transform: scale(1.1);
        }

        div.ícone-cabeçalho img:active {
            transform: scale(0.8);
        }

    /*↓ SEPRAÇÃO ↓*/
        section.separação {
            margin: 40px auto;
        }

        #antes-links {
            margin-bottom: 30px;
        }

        #pós-links {
            margin-top: 30px;
        }

        section.separação hr {
            width: 50%;
            margin: auto;
            border: 2px solid var(--cor_borda);
            border-radius: 15px;
        }
    
    /*↓ Links ↓*/
    section.links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    div.links-ícones img {
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }

    section.links article {
        background: white;
        border: 2px solid var(--cor_borda);
        border-radius: 15px;
        padding: 20px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition-duration: 250ms;
    }

    .hover:hover {
        border: 2px solid var(--cor_borda_escurecida);
        transform: scale(1.01);
    }

    div.texto {
        margin-right: 50px;
        text-align: justify;
    }

    section.links article a {
        text-decoration: none;
        font-family: var(--títulos);
        border: 2px solid var(--cor1);
        border-radius: 15px;
        padding: 10px 20px;
        color: black;
        transition-duration: 250ms;
    }

    section.links article a:hover {
        color: white;
        background: var(--cor1);
        border: 2px solid var(--cor1_escurecida);
        border-radius: 30px;
    }

    section.links article a:active {
        background: var(--cor1_escurecida);
        transform: scale(0.9);
    }

    /*↓ RODAPÉ ↓*/
        footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: #c5c5c550;
            border-radius: 10px;
            width: fit-content;
            margin: auto;
            padding: 10px 20px;
            text-align: center;
        }

        footer img {
            height: 25px;
            width: 25px;
            margin: 0px 10px 0px 0px;
        }
    /*↑ RODAPÉ ↑*/

/*↓ REGRAS DE RESPONSIVIDADE ↓*/
@media screen and (max-width: 768px) {
    main {
        margin: auto;
        width: 80%;
        box-shadow: 0px 0px 0px;
    }

    .hover:hover {
        border: 2px solid var(--cor_borda);
        transform: scale(1);
    }

    div.compartilhar button > p {
        display: none;
    }

    #compartilhar {
        margin: auto;
        -webkit-mask: url(imagens/compartilhar-regular.svg);
        mask: url(imagens/compartilhar-regular.svg);
    }

    div.texto {
        margin-right: 25px;
        text-align: justify;
    }

    footer {
            display: flex;
            flex-direction: column;
    }

    footer img {
        margin: 0px 0px 10px 0px;
    }
}

@media screen and (max-width: 600px) {
    section.links article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    div.links-ícones img {
        width: 100px;
        height: 100px;
        margin: 0px 0px 10px 0px;
    }

    div.texto {
        margin-right: 0px;
        text-align: center;
    }

    section.links article a {
        margin: 20px auto 0px auto;
        width: 50%;
        text-align: center;
        padding: 10px 0px;
    }
}

@media screen and (max-width: 425px) {
    main {
        width: 90%;
        padding: 0px;
    }

    section.cabeçalho {
        margin-top: 20px;
    }

    div.compartilhar button {
        background: white;
        z-index: 1;
    }

    footer {
        margin-bottom: 30px;
    }

    #foto {
        transform: scale(0.9);
    }

    .icone-cabeçalho {
        margin: 0px 10px;
    }

    .container-cabeçalho div > h1 {
        font-size: 40px;
    }

    .container-cabeçalho div > p {
        margin-top: 5px;
        font-size: 20px;
    }

    section.links article {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0px;
    }

    div.texto {
        flex-grow: 1;
        width: 100px;
    }

    section.links article a {
        margin: 20px auto 0px auto;
        text-align: center;
        border-color: var(--cor1);
        padding: 10px 0px;
        flex-grow: 1;
    }

    div.links-ícones img {
        width: 80px;
        height: 80px;
        margin: 0px 15px 0px 0px;
    }

    section.links h1 {
        text-align: left;
        font: 16px;
    }

    section.links p {
        text-align: justify;
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    #foto {
        transform: scale(0.8);
    }

    .container-cabeçalho div > h1 {
        font-size: 30px;
    }

    .container-cabeçalho div > p {
        font-size: 16px;
    }

    div.container-cabeçalho {
        padding: 100px 20px 20px 20px;
    }
}

@media screen and (max-width: 320px) {
    #foto {
        transform: scale(0.7);
    }

    div.container-cabeçalho {
        padding: 90px 20px 20px 20px;
    }

    .icone-cabeçalho {
        width: 35px;
        height: 35px;
        background-color: var(--cor1);
    }
    
    section.links article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.texto {
        width: fit-content;
    }

    div.texto h1, div.texto p {
        text-align: center;
    }

    div.links-ícones img {
        width: 100px;
        height: 100px;
        margin: 0px;
    }
}