@charset "UTF-8";

body {
    font-family: var(--texto);
}

h2 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

a {
    color: var(--cor1);
}

a:hover {
    color: var(--cor1_escurecida);
    text-decoration: underline;
}

main {
    margin: 60px auto;
    height: fit-content;
    max-width: 600px;
    box-shadow: var(--sombra_leve);
    border-radius: 15px;
    padding: 30px;
}

    /*↓ CABEÇALHO ↓*/
        section.cabeçalho {
            display: flex;
            flex-direction: column;
        }

        #img-compartilhar-branco {
            display: none;
        }

        div.compartilhar button img {
            margin-right: 10px;
        }

        div.compartilhar button {
            display: flex;
            cursor: pointer;
            font-family: var(--título);
            background: white;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: fit-content;
            border: 2px solid var(--cor_borda);
            border-radius: 15px;
            margin: auto 0px auto auto;
            padding: 10px;
            color: black;
            transition-duration: 250ms;
        }

        div.compartilhar button:hover {
            border-radius: 30px;
            border: 2px solid var(--cor1_escurecida);
            background: var(--cor1);
            color: white;
        }

        div.compartilhar button:hover #img-compartilhar-roxo {
            display: none;
        }

        div.compartilhar button:hover #img-compartilhar-branco {
            display: block;
        }

        div.compartilhar button p {
            font-family: var(--título);
        }

        div.compartilhar button:hover #compartilhar {
            background: white;
        }

        div.compartilhar button:active {
            transform: scale(0.9);
            background: var(--cor1_escurecida);
        }

            /*↓ POPUP COMPARTILHAR ↓*/
            #biopopup1Container {
                position: absolute;
                display: none;
                align-items: center;
                justify-content: center;
                width: 100vw;
                height: 100vh;
                z-index: 999;
                background-color: #00000030;
                backdrop-filter: blur(5px);
            }

            #biopopup0 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            #biopopup0 > div {
                display: block;
                background-color: #ffffff;
                width: 350px;
                margin: 20px;
                height: fit-content;
                overflow-y: scroll;
                padding: 20px 40px;
                box-shadow: 0px 0px 10px white;
                border-radius: 20px;
            }

            #biopopup0 > div > *, #biopopup1 > div > * {
                display: block;
                margin: 20px auto;
                text-align: center;
            }

            #biopopup0 > div > p {
                margin: 10px auto;
            }

            #biopopup1 {
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            #biopopup1 > div {
                display: block;
                width: 350px;
                height: fit-content;
                padding: 20px 40px;
                box-shadow: 0px 0px 10px white;
                border-radius: 20px;
                overflow-y: scroll;
                text-align: center;
                margin: 20px;
                background-color: white;
            }

            #biopopup1 a {
                padding: 10px 20px;
                width: 250px;
                text-align: center;
                border-radius: 10px;
                text-decoration: none;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                transition-duration: 250ms;
                box-shadow: var(--sombra_leve);
            }

            #biopopup1 a:hover {
                transform: scale(1.05);
                font-weight: bold;
            }

            #biopopup1 a > img {
                margin-right: 15px;
            }

            #compartilharLinkedin {
                background-color: #0077b5;
            }

            #compartilharFacebook {
                background-color: #1877f2;
            }

            #compartilharWhatsapp {
                background-color: #25d366;
            }

            #fecharbiopopup1, #fecharbiopopup0 {
                cursor: pointer;
                margin-top: 20px;
                padding: 15px 30px;
                border-radius: 15px;
                background-color: white;
                font-family: var(--título);
                font-size: 16px;
                border: 2px solid var(--cor1);
                transition-duration: 250ms;
            }
        
            #fecharbiopopup1:hover, #fecharbiopopup0:hover {
                border-color: var(--cor1_escurecida);
                background-color: var(--cor1);
                color: white;
                font-weight: bold;
                border-radius: 25px;
            }
        
            #fecharbiopopup1:active, #fecharbiopopup0:active {
                background-color: var(--cor1_escurecida);
                transform: scale(0.9);
            }

        #foto {
            height: 200px;
            margin: auto auto -100px auto;
            z-index: 1;
            border: 5px solid var(--cor1);
            border-radius: 100%;
            box-shadow: var(--sombra_aparente);
            transition-duration: 250ms;
        }

        div.container-cabeçalho {
            border: 2px solid var(--cor_borda);
            border-radius: 15px;
            padding: 120px 20px 20px 20px;
            text-align: center;
            background: white;
            transition-duration: 250ms;
        }

        div.container-cabeçalho h1 {
            font-family: var(--título);
            font-size: 42px;
        }

        div.container-cabeçalho p {
            margin-bottom: 30px;
            font-size: 20px;
        }

        .container-icones-cabeçalho {
            display: flex;
            width: fit-content;
            margin: auto;
            flex-direction: row;
            align-content: center;
        }

        div.ícone-cabeçalho img {
            width: 40px;
            height: 40px;
            margin: 0px 5px;
            transition-duration: 250ms;
        }

        div.ícone-cabeçalho img:hover {
            transform: scale(1.1);
        }

        div.ícone-cabeçalho img:active {
            transform: scale(0.8);
        }

    /*↓ SEPRAÇÃO ↓*/
        section.separação {
            margin: 40px auto;
        }

        #antes-links {
            margin-bottom: 30px;
        }

        #entre-links {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        #pós-links {
            margin-top: 30px;
        }

        section.separação hr {
            width: 50%;
            margin: auto;
            border: 2px solid var(--cor_borda);
            border-radius: 15px;
            background: var(--cor_borda);
        }
    
    /*↓ LINKS ↓*/
    section.links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    div.links-ícones img {
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }

    section.links article {
        background: white;
        border: 2px solid var(--cor_borda);
        border-radius: 15px;
        padding: 20px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition-duration: 250ms;
    }

    .hover:hover {
        border: 2px solid var(--cor_borda_escurecida);
        transform: scale(1.01);
    }

    div.texto {
        margin-right: 50px;
        text-align: justify;
    }

    section.links article a {
        text-decoration: none;
        font-family: var(--título);
        border: 2px solid var(--cor1);
        border-radius: 15px;
        padding: 10px 20px;
        color: black;
        transition-duration: 250ms;
    }

    section.links article a:hover {
        color: white;
        background: var(--cor1);
        border: 2px solid var(--cor1_escurecida);
        border-radius: 30px;
    }

    section.links article a:active {
        background: var(--cor1_escurecida);
        transform: scale(0.9);
    }

    /*↓ LINKS ESPECIAIS ↓*/
        section.links-especiais, .links-especiais {
            display: show;
        }

        section.links-especiais article, section.links-especiais article:hover {
            border-color: #898900;
            background-color: #ffffeb;
        }

        section.links-especiais article a {
            border-color: #898900;
        }

        section.links-especiais article a:hover {
            border-color: #3b3b00;
            background-color: #898900;
        }

        section.links-especiais article a:active {
            background-color: #3b3b00;
        }

        #doação:hover img {
            animation: doação-hover;
            animation-duration: 900ms;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            transition-duration: 500ms;
        }

            @keyframes doação-hover {
                0% {transform: scale(1) rotate(0deg);}
                25% {transform: scale(1.050) rotate(4deg);}
                75% {transform: scale(1.1) rotate(-4deg);}
                100% {transform: scale(1) rotate(0deg);}
            }

        #vacina:hover img {
            animation: vacina-hover;
            animation-duration: 1200ms;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            transition-duration: 500ms;
            animation-delay: 100ms;
        }

            @keyframes vacina-hover {
                0% {transform: rotate(0deg);}
                25% {transform: rotate(5deg);}
                50% {transform: rotate(-5deg);}
                75% {transform: rotate(5deg);}
                100% {transform: rotate(0deg);}
            }
    /*↑ LINKS ESPECIAIS ↑*/

    /*↓ RODAPÉ ↓*/
        footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: #c5c5c550;
            border-radius: 10px;
            width: fit-content;
            margin: auto;
            padding: 10px 20px;
            text-align: center;
        }

        footer img {
            height: 25px;
            width: 25px;
            margin: 0px 10px 0px 0px;
        }
    /*↑ RODAPÉ ↑*/

/*↓ REGRAS DE RESPONSIVIDADE ↓*/
@media screen and (max-width: 768px) {
    #biopopup0 > div {
        height: 80vh;
    }

    main {
        margin: auto;
        width: 80%;
        box-shadow: 0px 0px 0px;
    }

    .hover:hover {
        border: 2px solid var(--cor_borda);
        transform: scale(1);
    }

    div.compartilhar button img {
            margin-right: 0px;
        }

    div.compartilhar button > p {
        display: none;
    }

    div.texto {
        margin-right: 25px;
        text-align: justify;
    }

    footer {
            display: flex;
            flex-direction: column;
    }

    footer img {
        margin: 0px 0px 10px 0px;
    }
}

@media screen and (max-width: 600px) {
    #biopopup0 > div {
        height: 80vh;
        width: 60vw;
    }

    #biopopup1 > div {
        width: 60vw;
    }

    section.links article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    div.links-ícones img {
        width: 100px;
        height: 100px;
        margin: 0px 0px 10px 0px;
    }

    div.texto {
        margin-right: 0px;
        text-align: center;
    }

    section.links article a {
        margin: 20px auto 0px auto;
        width: 50%;
        text-align: center;
        padding: 10px 0px;
    }
}

@media screen and (max-width: 425px) {
    #biopopup1 a {
        width: 150px;
    }
        
    main {
        width: 90%;
        padding: 0px;
    }

    section.cabeçalho {
        margin-top: 20px;
    }

    div.compartilhar button {
        background: white;
        z-index: 1;
    }

    footer {
        margin-bottom: 30px;
    }

    #foto {
        transform: scale(0.9);
    }

    .icone-cabeçalho {
        margin: 0px 10px;
    }

    .container-cabeçalho div > h1 {
        font-size: 40px;
    }

    .container-cabeçalho div > p {
        margin-top: 5px;
        font-size: 20px;
    }

    section.links article {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0px;
    }

    div.texto {
        flex-grow: 1;
        width: 100px;
    }

    section.links article a {
        margin: 20px auto 0px auto;
        text-align: center;
        border-color: var(--cor1);
        padding: 10px 0px;
        flex-grow: 1;
    }

    section.links-especiais article a {
        border-color: #898900;
    }

    div.links-ícones img {
        width: 80px;
        height: 80px;
        margin: 0px 15px 0px 0px;
    }

    section.links h2 {
        text-align: left;
        font: 16px;
    }

    section.links p {
        text-align: justify;
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    #foto {
        transform: scale(0.8);
    }

    .container-cabeçalho div > h1 {
        font-size: 30px;
    }

    .container-cabeçalho div > p {
        font-size: 16px;
    }

    div.container-cabeçalho {
        padding: 100px 20px 20px 20px;
    }
}

@media screen and (max-width: 320px) {
    #foto {
        transform: scale(0.7);
    }

    div.container-cabeçalho {
        padding: 90px 20px 20px 20px;
    }

    .icone-cabeçalho {
        width: 35px;
        height: 35px;
        background-color: var(--cor1);
    }
    
    section.links article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.texto {
        width: fit-content;
    }

    div.texto h2, div.texto p {
        text-align: center;
    }

    div.links-ícones img {
        width: 100px;
        height: 100px;
        margin: 0px;
    }
}