@charset "UTF-8";

body {
    background-color: #ebebeb;
}

/*↓ DESIGN DA PÁGINA ↓*/
section > article {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -40px;
    height: 100%;
    padding: 100px;
    border-radius: 20px;
    background: white;
    box-shadow: var(--sombra_leve);
    flex: 1 1 100%;
}

article div.cabeçalho {
    display: block;
    text-align: center;
    height: fit-content;
    width: 100%;
    margin-bottom: 0px;
}

article div.cabeçalho > h2 {
    margin: 10px;
    font-size: 48px;
}

article p.descrição {
    color: gray;
    font-size: 24px;
}

article div.container {
    max-width: 1000px;
}

article div {
    display: flex;
    align-items: center;
    justify-content: center;
}

article div.texto {
    display: flex;
    flex-direction: column;
}

article div.imagem {
    flex: 1 1 30%;
}

article img {
    width: 256px;
}

article div.texto {
    flex: 1 1 70%;
    flex-wrap: wrap;
}

div.texto-esquerda {
    margin-left: 100px;
}

div.texto-direita {
    margin-right: 100px;
}

div.texto-esquerda h1 {
    text-align: left;
    width: 100%;
}

div.texto-direita h1 {
    text-align: right;
    width: 100%;
}

div.texto li {
    text-align: justify;
    font-family: var(--texto);
    font-size: 20px;
}

div.texto a {
    margin: 20px auto 0px auto;
    padding: 15px 25px;
    border: 2px solid var(--cor1);
    border-radius: 15px;
    transition-duration: 250ms;
}

div.texto a:hover {
    background-color: var(--cor1);
    border-color: var(--cor1_escurecida);
    color: white;
    transform: scale(1.1);
}

div.texto a:active {
    background-color: var(--cor1_escurecida);
    transform: scale(0.9);
}


/*↓ DESIGN DO RODAPÉ ↓*/
footer {
    background-color: white;
    margin: 140px auto 0px auto;
    padding: 30px 0px;
    border-radius: 20px 20px 0px 0px;
}

footer p {
    font-family: var(--texto_observação);
    text-align: center;
    margin: 0px auto 10px auto;
    max-width: 80%;
    font-size: 20px;
}

footer a {
    font-family: var(--texto_observação);
    color: var(--cor1);
    transition-duration: 250ms;
}

footer a:hover {
    color: var(--cor1_escurecida);
    text-decoration: underline;
}

#mailto {
    color: gray;
}

#mailto:hover {
    color: #606060;
}
/*↑ DESIGN DO RODAPÉ ↑*/

/*↓ RESPONSIVIDADE DO SITE ↓*/
/*AJUSTE DE FONTE*/
@media screen and (max-width: 803px) {
    footer {
        background: var(--cor1);
        box-shadow: 0px 5px 25px var(--cor1);
        margin-top: 0px;
        padding: 20px 0px;
        border-radius: 20px 20px 0px 0px;
        color: white;
    }

    footer p {
        font-size: 16px;
    }

    footer a {
        color: white;
        text-decoration: underline;
    }

    footer a:hover {
        color: white;
    }

    footer a.footer-email {
        display: none;
    }
}

@media screen and (max-width: 930px) {
    article {
        padding: 100px 20px 90px 20px;
        border-radius: 20px;
    }

    article div.cabeçalho {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 803px) {
    article div.cabeçalho > h2 {
        font-size: 48px;
    }
}

@media screen and (max-width: 600px) {
    article div.cabeçalho > h2 {
        font-size: 36px;
    }

    article p.descrição {
        font-size: 22px;
    }
}

@media screen and (max-width: 350px) {
    article div.cabeçalho > h2 {
        font-size: 28px;
    }

    article p.descrição {
        font-size: 18px;
    }
}

@media screen and (max-width: 319px) {
    footer {
        display: none;
    }
}