@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /*CORES*/
  --cor1: #8F71FF;
  --cor1_clareada: #cbbeff50;
  --cor2: #82ACFF;
  --cor2_clareada: #cfdfff50;
  --cor3: #8BFFFF;
  --cor3_clareada: #d8ffff50;
  --cor4: #FF5D9E;
  --cor4_clareada: #ffaacc50;

  /*DECORATIVOS*/
  --sombra_leve: 0px 0px 5px #00000030;

  /*FONTES*/
  --títulos: "Josefin Sans", sans-serif;
  --textos: "Roboto", sans-serif;
  --texto_observação: "Lato", sans-serif;
  --tamanho_h1: 32px;
  --tamanho_h2: 32px;
  --tamanho_h3: 28px;

  /*TAMANHOS DAS FONTES:
    H1 = 32PX
    H2 = 28PX
    H3 = 16PX
    P = ?
    */
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background-color: #ebebeb;
  font-family: var(--textos);
  height: 100%;
}

h1,
h2,
h3 {
  font-family: var(--títulos);
}

h1 {
  font-size: var(--tamanho_h1);
}

h2 {
  font-size: var(--tamanho_h2);
}

h3 {
  font-size: var(--tamanho_h3);
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 10px 0px;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 140px;
}

header nav {
  margin-top: 5px;
}

header nav > a {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 10px;
  background-color: var(--cor1);
  text-decoration: none;
  padding: 15px;
  color: white;
  position: relative;
  top: 35%;
  border-radius: 15px;
  transition-duration: 250ms;
  font-family: var(--títulos);
  box-shadow: var(--sombra_leve);
}

header nav > a:hover {
  padding: 25px;
  border-radius: 25px;
  font-weight: bold;
}

#cabeçalho--texto-foto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#cabeçalho--texto-foto img {
  margin: 15px 30px;
  width: 80px;
  top: 15px;
  left: 30px;
  border-color: var(--cor1);
  border-radius: 100%;
  border-style: solid;
  border-width: 3px;
}

#cabeçalho--texto-foto h1 {
  font-family: var(--títulos);
  margin-top: 5px;
}

footer {
  background-color: white;
  margin: 140px auto 0px auto;
  padding: 20px 0px;
  border-radius: 20px 20px 0px 0px;
}

footer p {
  font-family: var(--texto_observação);
  text-align: center;
  margin: 0px auto 0px auto;
  max-width: 80%;
  font-size: 16px;
}

/*↓ MEDIA SCREEN RULES ↓*/
@media screen and (max-width: 930px) {
  #cabeçalho--texto-foto img {
    width: 50px;
    margin: 0px 10px 0px 0px;
  }

  #cabeçalho--texto-foto h1 {
    font-size: 25px;
    margin-right: 15px;
  }

  header nav > a {
    margin: 10px 10px;
    font-size: 90%;
    padding: 15px 10px;
  }

  header nav > a:hover {
    padding: 15px 10px;
  }
}

@media screen and (max-width: 425px) {
  #cabeçalho--texto-foto img {
    margin: 0px 15px 0px 15px;
    width: 50px;
  }

  #cabeçalho--texto-foto h1 {
    font-size: 25px;
  }

  header nav > a {
    margin: 10px 5px;
    font-size: 70%;
    padding: 10px;
  }

  header nav > a:hover {
    padding: 10px;
  }
}

@media screen and (max-width: 350px) {
  header nav > a {
    margin: 10px 5px;
    font-size: 60%;
    padding: 10px;
  }

  header nav > a:hover {
    padding: 10px;
  }

  #cabeçalho--texto-foto img {
    width: 40px;
  }

  #cabeçalho--texto-foto h1 {
    font-size: 20px;
  }
}
