@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Josefin Sans";
    src: url(fontes/JosefinSans-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Glacial-Regular";
    src: url(fontes/GlacialIndifference-Regular.otf);
    font-display: swap;
}

@font-face {
    font-family: "Glacial-Bold";
    src: url(fontes/GlacialIndifference-Bold.otf);
    font-display: swap;
}

@font-face {
    font-family: "Glacial-Italico";
    src: url(fontes/GlacialIndifference-Italic.otf);
    font-display: swap;
}

:root {
/*CORES*/
    --cor1: #8F71FF;
    --cor1_escurecida: #5123ff;
    --cor1_clareada: #cbbeff;
    --cor1_clareada_semitransparente: #cbbeff50;

    --cor2: #82ACFF;
    --cor2_escurecida: #3478ff; 
    --cor2_clareada: #cfdfff;
    --cor2_clareada_semitransparente: #cfdfff50;

    --cor3: #8BFFFF;
    --cor3_escurecida: #3dffff;
    --cor3_clareada: #d8ffff;
    --cor3_clareada_semitransparente: #d8ffff50;

    --cor4: #FF5D9E;
    --cor4_escurecida: #ff0f6f;
    --cor4_clareada: #ffaacc;
    --cor4_clareada_semitransparente: #ffaacc50;

    --cor_borda: #d8d8d8;
    --cor_borda_escurecida: #afafaf;

/*DECORATIVOS*/
    --sombra_leve: 0px 0px 5px #00000030;
    --sombra_aparente: 0px 0px 10px #00000050;

/*FONTES*/
    --título: "Josefin Sans", sans-serif;
    --texto: "Glacial-Regular", sans-serif;
    --texto_observação: "Lato", sans-serif;
}

/*↓ REGRAS GERAIS ↓*/
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html {
    overflow-y: auto;
}

body {
    background-color: white;
    height: fit-content;
    font-family: var(--texto);
    font-size: 20px;
}

main.tela-pequena {
    display: none;
}

h1, h2, h3 {
     font-family: var(--título);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

p {
    font-family: var(--texto);
    font-size: 20px;
}

a {
    font-family: var(--título);
    color: black;
    text-decoration: none;
}

/*↓ DESIGN DO CABEÇALHO ↓*/
header.universal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 10px 0px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: var(--sombra_aparente);
}

header.universal nav {
    margin-top: 5px;
}

header.universal nav > a {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10px;
    padding: 15px 20px;
    color: white;
    background-color: var(--cor1);
    border: 2px solid var(--cor1);
    border-radius: 15px;
    transition-duration: 250ms;
    box-shadow: var(--sombra_leve);
}

header.universal nav > a:hover {
    transform: scale(1.1);
    font-weight: bold;
    background-color: var(--cor1);
    border: 2px solid var(--cor1_escurecida);
}

header.universal nav > a:active {
    background-color: var(--cor1_escurecida);
    transform: scale(0.9);
}

#cabeçalho--texto-foto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#cabeçalho-foto {
    margin: 15px 30px;
    width: 80px;
    height: 80px;
    top: 15px;
    left: 30px;
    border-color: var(--cor1);
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
}

#cabeçalho--texto-foto h1 {
    font-family: var(--título);
    margin-top: 5px;
}

#cabeçalho--texto-foto p {
    display: none;
}

#cabeçalho-linkedin-icone {
    display: none;
}

/*↑ DESIGN DO CABEÇALHO ↑*/

/*↓ DESIGN CONTEÚDO DO SITE ↓*/
article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -40px;
    height: 100%;
    padding: 100px 20px;
    border-radius: 20px;
    background: white;
    box-shadow: var(--sombra_leve);
}

article div.cabeçalho {
    display: block;
    text-align: center;
    height: fit-content;
    width: 100%;
    margin-bottom: 0px;
}

article div.cabeçalho > h2 {
    margin: 10px;
    font-size: 48px;
}

article p.descrição {
    color: gray;
    font-size: 24px;
}

div.separação {
    display: block;
    background: white;
    width: 100%;
    height: 200px;
    box-shadow: var(--sombra_leve);
    margin-top: -40px;
    border-radius: 20px 20px 0px 0px;
}

div.separação > hr {
    border: 1px solid #80808050;
    width: 50%;
    margin: auto;
    position: relative;
    top: 40%;
    border-radius: 20px;
}

    /*↓ SEÇÃO APRESENTAÇÃO ↓*/
        #apresentação > article {
            margin-top: 0px;
            background-color: transparent;
            box-shadow: 0px 0px 0px black;
        }

        .apresentação-container {
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 40px;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 40px;
            justify-content: center;
            padding-left: 20px;
        }

        .apresentação-container > * {
            flex-basis: 100%;
            padding: 10px 40px;
        }

        #video-iframe {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 57%; 
        }

        #apresentação-video iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            transform: scale(1.1);
            box-shadow: var(--sombra_leve);
        }

        #apresentação-foto {
            display: none;
        }

        #apresentação-info p {
            text-align: justify;
        }

        #apresentação-info a {
            display: none;
            transition-duration: 250ms;
        }

        div.habilidadesVisãoRápida {
            border: 2px solid var(--cor_borda);
            margin-top: 20px;
            border-radius: 15px;
        }

        div.habilidadesVisãoRápida ul {
            display: inline-flex;
            list-style-type: none;
            gap: 20px;
            padding: 20px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            overflow-y: scroll;
            height: 100px;
        }
        
        div.habilidadesVisãoRápida ul > li {
            background-color: #c5c5c550;
            padding: 10px 20px;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;
            transition-duration: 250ms;
        }

        div.habilidadesVisãoRápida ul > li:active {
            transform: scale(0.9);
        }

        div.habilidadesVisãoRápida ul > li.hab01 {
            background-color: var(--cor1_clareada);
        }

        div.habilidadesVisãoRápida ul > li.hab02 {
            background-color: var(--cor2_clareada);
        }

        div.habilidadesVisãoRápida ul > li.hab03 {
            background-color: var(--cor4_clareada);
        }
    /*↑ SEÇÃO APRESENTAÇÃO ↑*/

    /*↓ SEÇÃO MINHAS HABILIDADES ↓*/
        div.container-habilidades {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }

        div.habilidades {
            display: block;
            justify-content: center;
            background: transparent;
            width: 250px;
            height: 320px;
            margin: 40px;
            padding: 50px 20px;
            border-radius: 15px;
            transition-duration: 500ms;
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
            border: 2px solid #c5c5c5;
        }

        div.habilidades p.habilidades-número {
            font-size: 200px;
            font-family: var(--título);
            font-weight: bold;
            position: relative;
            line-height: 100px;
            top: 135px;
            left: 6px;
            transition-duration: 500ms;
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
        }

        div.habilidades p.habilidades-título {
            color: black;
            font-size: 28px;
            font-family: var(--título);
            width: 80%;
            margin-bottom: 10px;
            font-weight: bold;
            position: relative;
            left: 25px;
            top: 30px;
            transition-duration: 500ms;
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
        }

        div.habilidades p.habilidades-texto {
            color: black;
            display: none;
            width: 80%;
            margin: auto;
            text-align: justify;
            transition-duration: 250ms;
            transition: ease-in-out;
        }

        div.habilidades:hover {
            transition-duration: 0ms;
            border: 0px solid #c5c5c510;
        }

        div.habilidades:hover p.habilidades-texto {
            display: block;
            font-size: 18px;
            animation-name: habilidades-texto;
            animation-timing-function: linear;
            animation-duration: 500ms;
        }

            @keyframes habilidades-texto {
                0% {opacity: 0%;}
                100% {opacity: 100%;}
            }

        div.habilidades:hover p.habilidades-número {
            font-size: 96px;
            position: relative;
            top: -30px;
        }

        div.habilidades:hover p.habilidades-título {
            font-size: 20px;
            width: 80%;
            margin-bottom: -30px;
            position: relative;
            top: -40px;
            left: 25px;
        }

        /*CONFIGURAÇÕES DE CORES DAS HABILIDADES ↓*/
            #habilidade-1 p.habilidades-número {
                color: var(--cor1_clareada);
            }

            #habilidade-1:hover {
                background-color: var(--cor1_clareada_semitransparente);
                border: 2px solid var(--cor1_clareada);
            }

            #habilidade-1:hover p.habilidades-título{
                color: var(--cor1_escurecida);
            }

            #habilidade-2:hover {
                background-color: var(--cor2_clareada_semitransparente);
                border: 2px solid var(--cor2_clareada);
            }

            #habilidade-2 p.habilidades-número {
                color: var(--cor2_clareada);
            }

            #habilidade-2:hover p.habilidades-título{
                color: var(--cor2_escurecida);
            }

            #habilidade-3:hover {
                background-color: var(--cor4_clareada_semitransparente);
                border: 2px solid var(--cor4_clareada);
            }

            #habilidade-3 p.habilidades-número {
                color: var(--cor4_clareada);
            }

            #habilidade-3:hover p.habilidades-título{
                color: var(--cor4_escurecida );
            }

    /*↓ SEÇÃO MEUS CONHECIMENTOS ↓*/
    /*↓ POPUPS ↓*/
    .popup-container {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100vw;
        background-color: #00000030;
        backdrop-filter: blur(5px);
        z-index: 999;
    }

    div.popup {
        display: block;
        background-color: white;
        width: 350px;
        height: fit-content;
        box-shadow: 0px 0px 10px white;
        border-radius: 20px;
        text-align: center;
        padding: 20px 40px;
        overflow-y: scroll;
        margin: 20px auto;
    }
    
    div.popup > * {
        margin: 20px auto;
    }

    div.popup img {
        height: 128px;
        width: 128px;
        margin-bottom: 0px;
    }

    div.popup p {
        margin: 10px auto;
        font-size: 18px;
    }

    div.popup button, div.popup a {
        cursor: pointer;
        display: inline-block;
        margin: 10px;
        padding: 15px 30px;
        border-radius: 15px;
        background-color: white;
        font-family: var(--título);
        font-size: 16px;
        border: 2px solid var(--cor1);
        transition-duration: 250ms;
    }

    div.popup button:hover, div.popup a:hover {
        border-color: var(--cor1_escurecida);
        background-color: var(--cor1);
        color: white;
        font-weight: bold;
        border-radius: 25px;
    }

    div.popup button:active, div.popup a:active {
        background-color: var(--cor1_escurecida);
        transform: scale(0.9);
    }

    div.popupCertificados button > span.somente-telefone {
        display: none;
    }

    div.popupCertificados {
       display: none;
       align-items: center;
       justify-content: center;
       overflow-y: scroll;
       overflow-x: hidden;
       height: 80vh;
    }

    div.popupCertificados p {
        text-align: justify;
    }

    div.certificadosTítulo {
        background-color: #c5c5c550;
        width: calc(100% + 80px);
        position: relative;
        left: -40px;
        top: -40px;
        padding: 30px 00px;
    }

    div.certificadosTítulo h1 {
        width: calc(100% - 80px);
        margin: auto;
    }

    div.certificadosTítulohab01 {
        background-color: var(--cor1_clareada_semitransparente);
        color: var(--cor1_escurecida);
    }

    div.certificadosTítulohab02 {
        background-color: var(--cor2_clareada_semitransparente);
        color: var(--cor2_escurecida);
    }

    div.certificadosTítulohab03 {
        background-color: var(--cor4_clareada_semitransparente);
        color: var(--cor4_escurecida);
    }

    div.popupCertificados h2 {
        font-size: 26px;
    }

    div.popupCertificados img {
        margin-top: -30px;
        width: 100%;
        height: fit-content;
        border-radius: 20px;
        box-shadow: var(--sombra_leve);
    }

    #popupCertificados1 {
        display: none;
    }

    div.container-conhecimentos {
        display: flex;
        margin: 40px;
    }

    div.container-conhecimentos > * {
        flex-basis: 100%;
    }

    div.container-conhecimentos p {
        text-align: justify;
        margin-top: 10px;
        font-size: 20px;
    }

    div.container-conhecimentos a {
        padding: 15px 30px;
        cursor: pointer;
        margin: 20px auto;
        width: 50%;
        border: 2px solid var(--cor1);
        color: black;
        font-family: var(--título);
        font-size: 18px;
        border-radius: 15px;
        transition-duration: 250ms;
        text-align: center;
    }

    #currículo:hover a, #certificados:hover a {
        font-weight: bold;
        color: white;
        background-color: var(--cor1);
        border: 2px solid var(--cor1_escurecida);
    }

    #currículo a:hover, #certificados a:hover {
        border-radius: 30px;
    }

    #currículo a:active, #certificados a:active {
        background: var(--cor1_escurecida);
        transform: scale(0.9);
    }

    #currículo {
        display: flex;
        border: 2px solid #c5c5c5;
        margin-right: 40px;
        align-items: center;
        transition-duration: 250ms;
        border-radius: 15px;
        padding: 10px;
    }

    #currículo:hover {
        border: 2px solid var(--cor1_escurecida);
        transform: scale(1.05);
    }

    #currículo-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #currículo-img img {
        border-radius: 15px;
        width: 200px;
        height: 300px;
        box-shadow: var(--sombra_leve);
        transition-duration: 250ms;
    }

    #currículo:hover img {
        border-radius: 15px;
        transform: rotate(5deg) scale(1.1);
        box-shadow: 0px 0px 10px #00000050;
    }

    #currículo h2 {
        text-align: right;
    }

    #currículo div {
        margin: 0px 20px;
    }

    #certificados {
        display: flex;
        border: 2px solid #c5c5c5;
        align-items: center;
        margin-left: 40px;
        transition-duration: 250ms;
        border-radius: 15px;
        padding: 10px;
    }

    #certificados:hover {
        border: 2px solid var(--cor1_escurecida);
        transform: scale(1.05);
    }

    #certificados-img img {
        border-radius: 15px;
        box-shadow: var(--sombra_leve);
        transition-duration: 250ms;
        height: 300px;
        width: 200px;
    }

    #certificados:hover img {
        border-radius: 15px;
        transform: rotate(-5deg) scale(1.1);
        box-shadow: 0px 0px 10px #00000050;
    }

    #certificados-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #certificados div {
        margin: 0px 20px;
    }

    /*↓ SEÇÃO INFORMAÇÕES DE CONTATO ↓*/
    div.container-infocontato {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        columns: 3;
        margin: 60px 0px 0px 0px;
        max-width: 1200px;
        gap: 80px;
    }

    .cartão-contato {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 250px;
        height: 346px;
        padding: 50px 20px;
        border: 2px solid #c5c5c5;
        border-radius: 15px;
        transition: 250ms;
        text-align: center;
    }

    .cartão-contato:hover {
        border: 2px solid var(--cor1);
        transform: scale(1.1);
    }

    .cartão-contato img {
        height: 125px;
        width: 125px;
        margin: 0px auto 20px auto;
        transition-duration: 250ms;
    }

    .cartão-contato:hover img {
        transform: scale(1.1) rotate(-5deg);
    }

    .cartão-contato a {
        padding: 15px 20px;
        width: 50%;
        font-size: 18px;
        border: 2px solid var(--cor1);
        border-radius: 15px;
        color: black;
        font-family: var(--título);
        transition: 250ms;
        text-align: center;
        animation-name: cartão-contato-a;
        animation-timing-function: linear;
        animation-duration: 150ms;
        position: relative;
    }

        @keyframes cartão-contato-a {
            0% {bottom: 20px;}
            100% {bottom: 0px;}
        }

    .cartão-contato:hover a {
        border: 2px solid var(--cor1_escurecida);
        background: var(--cor1);
        color: white;
        font-weight: bold;
        bottom: 20px;
        animation-name: cartão-contatohover-a;
        animation-timing-function: linear;
        animation-duration: 150ms;
    }

        @keyframes cartão-contatohover-a {
            0% {bottom: 0px;}
            100% {bottom: 20px;}
        }

    .cartão-contato a:hover {
        border-radius: 30px;
    }

    .cartão-contato a:active {
        background: var(--cor1_escurecida);
        transform: scale(0.9);
    }

    .cartão-contato h2 {
        margin-top: 10px;
    }

    .cartão-contato p {
        margin-bottom: 40px;
    }

    .contato-info {
        display: none;
        margin: auto;
        text-align: center;
        position: relative;
        border-radius: 13px;
        width: 290px;
        right: 20px;
        bottom: -0px;
        padding: 10px 0px;
        background: #c5c5c550;
    }

    .contato-info p {
        width: 80%;
        margin: auto;
    }

    .cartão-contato:hover .contato-info {
        display: block;
        animation-name: contato-info;
        animation-timing-function: linear;
        animation-duration: 150ms;
    }

        @keyframes contato-info {
            0% {transform: translateY(20px) scaleY(0); display: block; opacity: 0%;}
            25% {transform: translateY(15px) scaleY(0.25); opacity: 25%;}
            50% {transform: translateY(10px) scaleY(0.5); opacity: 50%;}
            75% {transform: translateY(5px) scaleY(0.75); opacity: 75%;}
            100% {transform: translateY(0px) scaleY(1); opacity: 100%;}
        }
    
    .cartão-contato:hover .contato-info p {
        animation-name: contato-info-p;
        animation-timing-function: linear;
        animation-duration: 500ms;
    }

        @keyframes contato-info-p {
            0% {opacity: 25%}
            25% {opacity: 25%;}
            50% {opacity: 50%;}
            75% {opacity: 75%;}
            100% {opacity: 100%;}
        }

/*↑ DESIGN CONTEÚDO DO SITE ↑*/

/*↓ DESIGN DO RODAPÉ ↓*/
footer {
    background-color: white;
    margin: -40px auto 0px auto;
    padding: 20px 0px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: var(--sombra_leve);
}

footer p {
    font-family: var(--texto_observação);
    text-align: center;
    margin: auto;
    max-width: 80%;
    font-size: 20px;
}

#abrirPopupGitHub {
    cursor: pointer;
}

footer a, #abrirPopupGitHub {
    font-family: var(--texto_observação);
    color: var(--cor1);
    transition-duration: 250ms;
}

footer a:hover, #abrirPopupGitHub:hover {
    color: var(--cor1_escurecida);
    text-decoration: underline;
}

#mailto {
    color: gray;
}

#mailto:hover {
    color: #606060;
}
/*↑ DESIGN DO RODAPÉ ↑*/

/*↓ RESPONSIVIDADE DO SITE ↓*/
@media screen and (max-width: 1160px) {
    div.habilidades {
        width: 200px;
        padding: 40px 15px;
    }

    div.habilidades p.habilidades-número {
        font-size: 160px;
        top: 125px;
    }

    div.habilidades p.habilidades-título {
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    div.habilidades:hover p.habilidades-título {
        font-size: 18px;
        left: 20px;
    }

    div.habilidades:hover p.habilidades-texto {
        font-size: 16px;
    }

    div.container-conhecimentos button {
        width: 100%;
        margin: 20px auto;
    }

    #currículo {
        margin-right: 10px;
    }

    #certificados {
        margin-left: 10px;
    }

    .cartão {
        margin: 40px 20px;
        width: 250px;
    }

    #email .cartão-hover-txt, #videochamada .cartão-hover-txt {
        bottom: -77px;
    }

    .cartão-ico img {
        width: 80px;
    }

    div.container-infocontato {
        gap: 60px;
    }

    .cartão-contato {
        width: 200px;
        padding: 40px 15px;
    }

    .contato-info {
        width: 230px;
        right: 15px;
        bottom: 2px;
        padding: 10px 0px;
        background: #c5c5c550;
    }

    .contato-info p {
        font-size: 18px;
    }

    .cartão-contato h2 {
        font-size: 28px;
    }

}

@media screen and (max-width: 1090px) {
    div.container-conhecimentos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 40px;
    }

    div.container-conhecimentos button {
        width: 50%;
        margin: 20px auto;
    }

    #currículo {
        margin-bottom: 80px;
        margin-right: 0px
    }

    #certificados {
        margin-left: 0px;
    }

    .cartão {
        margin: 40px 10px;
        width: 250px;
    }
}

@media screen and (max-width: 976px) {
    div.habilidades {
        margin: 20px;
    }

    div.container-infocontato {
        gap: 40px;
    }
}

/*AJUSTE DE FONTE*/
@media screen and (max-width: 930px) {
    #cabeçalho-foto {
        width: 50px;
        height: 50px;
        margin: 0px 10px 0px 0px;
    }

    #cabeçalho--texto-foto h1 {
        font-size: 25px;
        margin-right: 15px;
    }

    article {
        padding: 100px 20px 90px 20px;
        border-radius: 20px;
    }

    article div.cabeçalho {
        margin-bottom: 20px;
    }

    .cartão {
        margin: 40px 10px;
        width: 200px;
    }

    .cartão h2 {
        font-size: 24px;
    }

    .cartão-hover-txt {
        bottom: -80px;
    }

    #videochamada .cartão-hover-txt {
        bottom: -72px;
    }

    #email .cartão-hover-txt {
        bottom: -82px;
    }
}

@media screen and (max-width: 855px) {
    div.habilidades {
        margin: 10px;
    }

    div.habilidades p.habilidades-número {
        font-size: 140px;
        top: 115px;
    }

    div.habilidades:hover p.habilidades-título {
        font-size: 18px;
        left: 20px;
    }
}

/*AJUSTE DE FONTE*/
@media screen and (max-width: 803px) {
    body {
        background-color: white;
    }

    #apresentação > article {
        margin-top: -40px;
        background: transparent;
    }

    header.universal {
        display: flex;
        padding: 20px 0px;
        margin-bottom: 0px;
        z-index: 1;
        background: var(--cor1);
        box-shadow: 0px 0px 25px var(--cor1);
    }

    nav {
        display: none;
    }

    #cabeçalho--texto-foto {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        flex: 1 1 100%;
    }

    #cabeçalho-foto {
        margin-right: 20px;
        width: 70px;
        height: 70px;
    }

    #cabeçalho--texto-foto h1, #cabeçalho--texto-foto p {
        color: white;
        text-shadow: 0px 0px 1px #00000050;
    }

    #cabeçalho--texto-foto h1 {
        font-size: 32px;
        margin-right: 0px;
    }

    #cabeçalho--texto-foto p {
        display: block;
        flex: 1 1 100%;
        text-align: center;
    }

    article div.cabeçalho > h2 {
        font-size: 48px;
    }

    .apresentação-container {
        flex-wrap: wrap;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #apresentação {
        margin-top: 0px;
    }

    #apresentação > article {
        box-shadow: 0px 0px 0px;
        margin-top: 10px;
    }

    #apresentação-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        transform: scale(0.9);
        box-shadow: var(--sombra_leve);
    }

    div.habilidadesVisãoRápida ul {
        height: 180px;
    }

    div.habilidadesVisãoRápida ul > li {
        font-size: 18px;
    }

    div.habilidades {
        margin: 10px 10px;
    }

    div.container-conhecimentos button {
        width: 100%;
        margin: 20px auto;
    }

    div.container-conhecimentos p {
        font-size: 18px;
    }

    .cartão-contato {
        height: 320px;
    }

    .contato-info {
        display: block;
        position: relative;
        height: 40px;
        bottom: -16px;
    }

    .cartão-contato p {
        margin-bottom: 15px;
    }

    .cartão-contato:hover .contato-info, .cartão-contato:hover .contato-info p, .cartão-contato a, .cartão-contato:hover a {
        animation-duration: 0s;
    }

    .cartão-contato:hover a {
        bottom: 0px;
    }

    .cartão-contato:hover a {
        animation-duration: 0s;
    }

    .cartão-contato h2 {
        font-size: 22px;
    }

    .cartão-contato p {
        font-size: 16px;
    }

    .cartão-contato .cartão-ícone {
        transform: scale(1.2);
    }

    .cartão-contato:hover .cartão-ícone {
        transform: scale(1.4) rotate(-5deg);
    }

    footer p {
        font-size: 16px;
    }

    footer {
        background: var(--cor1);
        box-shadow: 0px 5px 25px var(--cor1);
        border-radius: 20px 20px 0px 0px;
        color: white;
    }

    footer a, #abrirPopupGitHub {
        color: white;
        text-decoration: underline;
    }

    footer a:hover, #abrirPopupGitHub:hover {
        color: white;
    }
}

@media screen and (max-height: 508px) {
    div.popup {
        height: 50vh;
    }
}

@media screen and (max-height: 640px) {
    div.popup {
        max-height: 500px;
    }
}

/*AJUSTE DE FONTE*/
@media screen and (max-width: 600px) {
    div.popup {
        width: 60vw;
    }

    div.popupCertificados img {
        width: 250px;
        height: 186px;
    }

    #cabeçalho-foto {
        width: 60px;
        height: 60px;
        border: none;
    }

    #cabeçalho--texto-foto h1 {
        font-size: 28px;
    }

    #cabeçalho--texto-foto p {
        font-size: 18px;
    }

    #apresentação > article {
        margin-top: -40px;
        background: transparent;
    }

    article div.cabeçalho > h2 {
        font-size: 36px;
    }

    article p.descrição {
        font-size: 22px;
    }

    div.container-conhecimentos button {
        width: 100%;
        margin: 20px auto;
    }

    #currículo-img {
        order: 1;
        padding-bottom: 40px;
    }

    #currículo-txt {
        order: 2;
    }

    #currículo-txt h2 {
        text-align: center;
    }

    #currículo {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
    }

    #certificados {
        display: flex;
        flex-direction: column;
    }

    #certificados-txt h2 {
        text-align: center;
    }

    #certificados-img {
        padding-bottom: 40px;
    }
}

/*AJUSTE DE FONTE*/
@media screen and (max-width: 425px) { 
    div.popupCertificados img {
        width: 100%;
        height: fit-content;
    }

    div.popup p {
        text-align: justify;
    }

    div.popup button, div.popup a {
        margin: 10px;
    }

    div.popupCertificados button > span.somente-pc-tablet {
        display: none;
    }

    div.popupCertificados button > span.somente-telefone {
        display: block;
    }

    div.certificadosTítulo h1 {
        font-size: 28px;
    }

    div.popupCertificados h2 {
        font-size: 24px;
    }

    div.popupCertificados p {
        font-size: 16px;
    }

    #cabeçalho-foto {
        display: none;
    }

    #cabeçalho-linkedin-icone {
        display: block;
        width: 55px;
        height: 55px;
        margin-left: 20px;
    }

    #cabeçalho-linkedin-icone:active {
        transform: scale(0.9);
    }

    #cabeçalho--texto-foto h1 {
        font-size: 25px;
    }

    #apresentação-video {
        display: none;
    }

    #video-iframe iframe {
        display: none;
    }

    #apresentação-foto {
        display: flex;
    }

    #apresentação-foto img {
        margin: auto;
        height: 250px;
        width: 250px;
        box-shadow: var(--sombra_leve);
        border-radius: 50%;
        border: 5px solid var(--cor1);
    }

    #apresentação-info p {
        text-align: center;
        font-size: 18px;
        line-height: 1.5em;
    }

    #apresentação-info .somente-pc-tablet {
        display: none;
    }

    #apresentação-info a {
        display: block;
        margin: 20px auto 0px auto;
        padding: 20px 20px;
        width: 60%;
        border: 2px solid var(--cor1);
        border-radius: 20px;
        font-family: var(--título);
        color: black;
        text-align: center;
        font-size: 18px;
    }

    #apresentação-info a:hover {
        background-color: var(--cor1);
        border: 2px solid var(--cor1_escurecida);
        border-radius: 30px;
        color: white;
    }

    #apresentação-info a:active {
        background-color: var(--cor1_escurecida);
        transform: scale(0.9);
    }

    div.habilidadesVisãoRápida ul {
        height: 240px;
    }
    
    div.habilidadesVisãoRápida ul > li {
        font-size: 16px;
    }

    div.habilidades {
        margin: 10px 0px;
    }

    div.separação {
        display: block;
        background: white;
        width: 100%;
        height: 150px;
        box-shadow: var(--sombra_leve);
        margin-top: -40px;
        border-radius: 20px 20px 0px 0px;
    }

    div.separação > hr {
        top: 35%;
    }

    div.container-conhecimentos {
        margin: 40px 20px 0px 20px;
    }

    div.container-conhecimentos p {
        font-size: 16px;
    }

    div.container-conhecimentos h2 {
        font-size: 28px;
    }
}

/*AJUSTE DE FONTE*/
@media screen and (max-width: 350px) {
    #cabeçalho-linkedin-icone {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    #cabeçalho--texto-foto h1 {
        font-size: 20px;
    }

    #cabeçalho--texto-foto p {
        font-size: 16px;
    }

    article div.cabeçalho > h2 {
        font-size: 28px;
    }

    article p.descrição {
        font-size: 18px;
    }

    #apresentação-foto img {
        margin: auto;
        height: 220px;
        width: 220px;
    }

    #apresentação-info p {
        text-align: center;
        font-size: 18px;
    }
    
    #currículo:hover {
        box-shadow: 0px 0px 0px black;
        transform: scale(1);
    }

    #certificados:hover {
        box-shadow: 0px 0px 0px black;
        transform: scale(1);
    }
}

@media screen and (max-width: 319px) {
    header.universal {
        display: none;
    }

    main {
        display: none;
    }

    html {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main.tela-pequena {
        display: block;
    }

    div.tela-pequena img {
        width: 100%;
        height: fit-content;
        margin-bottom: -20px;
    }

    div.tela-pequena img.tela-pequena-qr-code {
        width: 100%;
    }

    div.tela-pequena {
        display: block;
        background-color: white;
        padding: 20px 40px;
        border-radius: 20px;
        box-shadow: var(--sombra_leve);
        text-align: center;
        height: fit-content;
        max-height: 70vh;
        overflow-y: scroll;
    }

    div.tela-pequena > * {
        margin: 20px auto;
    }

    div.tela-pequena button {
        margin-top: 0px;
        padding: 15px 30px;
        font-family: var(--título);
        border-radius: 10px;
        border: 2px solid var(--cor_borda);
        background-color: white;
        font-size: 16px;
        transition-duration: 250ms;
    }

    div.tela-pequena button:active {
        border-radius: 30px;
        border: 2px solid var(--cor1_escurecida);
        background-color: var(--cor1);
        color: white;
        transform: scale(0.9);
    }

    div.tela-pequena p {
        font-size: 18px;
        text-align: justify;
    }

    div.tela-pequena > div.xda {
        font-family: var(--título);
        text-align: center;
        font-weight: bold;
        position: relative;
        bottom: -40px;
        left: -40px;
        width: calc(100% + 40px);
        background-color: #c5c5c550;
        padding: 10px 20px;
        margin-top: -40px;
    }

    footer {
        display: none;
    }
}