@charset "UTF-8";
/* ↑ REGRAS ↑ */

/* ↓ BARRA DE ROLAGEM ↓ */
#popupcontainer >*::-webkit-scrollbar {
    width: 10px;
}

#popupcontainer >*::-webkit-scrollbar-track {
    background: var(--cor_borda);
    border-radius: 5px;
    margin: 0px auto;
    margin-block: 60px;
}

#popupcontainer >*::-webkit-scrollbar-thumb {
    background: var(--cor_borda_escurecida);
    border-radius: 5px;
}

#popupcontainer >*::-webkit-scrollbar-thumb:hover, #popupcontainer >*::-webkit-scrollbar-thumb:active {
    background: var(--cor1);
}

@media screen and (max-width: 768px) {
    #popupcontainer >*::-webkit-scrollbar {
        width: 5px;
    }
}

/* ↓ GERAL ↓ */
main {
    max-width: 1440px;
    margin: auto;
}

html, body {
    height: 100%;
}

button {
    font-family: var(--título);
    transition-duration: 250ms;
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

li::marker {
    font-weight: bold;
    font-family: var(--título);
}

li {
    list-style-position: inside;
    font-family: var(--texto);
    font-size: 18px;
    text-align: justify;
    margin: 30px 0;
}

header.universal {
    position: relative;
    z-index: 999;
}

/* ↑ GERAL ↑ */
/* ↓ INTRODUÇÃO ↓ */
#introdução {
    height: 100%;
    display: flex;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -30px;
}

#introdução > div {
    width: 50%;
    text-align: center;
    color: white;
    position: absolute;
}

#introdução > div h2, #introdução > div p {
    text-shadow: 0 0 2px #00000050;
}

#introdução h2 {
    font-size: 48px;
}

#introdução p {
    font-size: 24px;
}

#introdução > img {
    width: 110vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 0;
    filter: blur(5px) brightness(0.60);
}

#introdução > div h2 {
    margin-bottom: 5px;
}

/* ↑ INTRODUÇÃO ↑ */
/* ↓ PROJETOS ↓ */
#seçãoProjetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    padding: 10vh 5vw;
}

#gradeProjetos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

article.cartãoDoProjeto {
    width: 20vw;
    padding: 30px;
    border: 2px solid var(--cor_borda);
    border-radius: 20px;
    transition-duration: 250ms;
}

article.cartãoDoProjeto:hover {
    border-color: var(--cor1_escurecida);
    transform: scale(1.025);
}

article.cartãoDoProjeto:hover button {
    color: white;
    background-color: var(--cor1);
    border: 2px solid var(--cor1_escurecida);
}

article.cartãoDoProjeto img {
    width: calc(100% + 60px);
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 20px;
    border-radius: 18px 18px 0px 0px;
}

article.cartãoDoProjeto h2 {
    font-size: 24px;
}

article.cartãoDoProjeto p {
    font-size: 18px;
    text-align: justify;
}

article.cartãoDoProjeto p.data {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    color: black;
    background-color: var(--cor1_clareada);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}

article.cartãoDoProjeto p.descriçãoDesenvolvimento {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    color: black;
    background-color: rgb(252, 252, 188);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}

article.cartãoDoProjeto p.descriçãoCompleta {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    color: black;
    background-color: rgb(187, 255, 188);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}

article.cartãoDoProjeto p.translateoff {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    color: black;
    background-color: rgb(252, 252, 188);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}

article.cartãoDoProjeto p.translateon {
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    color: black;
    background-color: rgb(187, 255, 188);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}

article.cartãoDoProjeto button {
    display: block;
    font-size: 18px;
    padding: 15px 30px;
    margin: 20px auto 0px auto;
    background-color: white;
    border: 2px solid var(--cor1);
    border-radius: 15px;
}

article.cartãoDoProjeto button:hover {
    border-radius: 30px;
}

article.cartãoDoProjeto button:active {
    background-color: var(--cor1_escurecida);
    transform: scale(0.9);
}

/* ↑ PROJETOS ↑ */
/* ↓ RODAPÉ ↓ */
footer  {
    margin: auto;
    color: white;
    text-align: center;
    padding: 20px 40px;
    background-color: var(--cor1);
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 20px var(--cor1);
}

footer a {
    color: white;
    text-decoration: underline;
}

/* ↑ RODAPÉ ↑ */
/* ↓ POPUPS ↓ */
#popupcontainer {
    display: none;
    position: fixed;
    inset: 0 0 0 0;
    background-color: #00000020;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}

#popupcontainer > * {
    display: none;
    width: 50vw;
    max-width: 500px;
    padding: 5vw;
    height: fit-content;
    max-height: 70vh;
    overflow: overlay;
    overflow-x: hidden;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px white;
    border-radius: 30px;
    text-align: justify;
    animation: 250ms linear abrirPopup;
    position: relative;
}

    @keyframes abrirPopup {
        0% {transform: scale(0.95); opacity: 0;}
        100% {transform: scale(1); opacity: 1;}
    }

    @keyframes fecharPopup {
        0% {transform: scale(1); opacity: 1;}
        100% {transform: scale(0.95); opacity: 0;}
    }

div.popupContainerImagemCabeçalho img {
    width: calc(100% + 10vw);
    height: 100%;
    object-fit: cover;
    position: relative;
    inset: -5vw 0 0 -5vw;
}

div.popupContainerImagemCabeçalho {
    height: 400px;
    margin-bottom: -5%;
}

div.popupContainerImagemCabeçalho > div:first-of-type {
    position: relative;
    z-index: 1;
    width: calc(60vw);
    top: calc((-100% - 5vw));
    left: -5vw;
    height: 100%;
    margin: auto;
    background-image: linear-gradient(0deg, white 1%, transparent 20%);
}

#popupcontainer > * h3  {
    text-align: left;
}

#popupcontainer > * p  {
    margin: 30px 0px;
    font-size: 18px;
}

#popupcontainer > * a  {
    text-decoration: underline;
    color: black;
}

#popupcontainer > * a::after  {
    content: " ↗";
}

#popupcontainer > * > p:first-of-type  {
    margin-top: 15px;
}

div.participantesdoProjeto {
    background-color: #c5c5c550;
    padding: 20px;
    border-radius: 20px;
    max-width: 50%;
    width: fit-content;
    margin: 0px auto 30px auto;
    user-select: none;
}

#popupcontainer div.participantesdoProjeto > p {
    margin: 0px 0px 15px 0px;
}

div.participantesdoProjeto > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

div.participantesdoProjeto > div img {
    border-radius: 100%;
}

#popupcontainer > * > button  {
    display: block;
    margin: auto;
    font-size: 18px;
    padding: 15px 45px;
    color: white;
    background-color: var(--cor1);
    border: 2px solid var(--cor1_escurecida);
    border-radius: 20px;
}

#popupcontainer > * > button:hover  {
    background-color: var(--cor1_escurecida);
    border-radius: 30px;
}

div.conteúdoExtra {
    width: 100%;
    height: 100%;
}

div.conteúdoExtra img {
    display: block;
    width: 50%;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 0 2px #00000030;
    margin: auto;
}

div.conteúdoExtra img.horizontal {
    margin: 0;
    width: 100%;
}

/* ↓ RESPONSIVIDADE ↓ */
@media screen and (max-width: 768px) {
    #introdução h2 {
    font-size: 42px;
    }

    #introdução p {
        font-size: 20px;
    }

    article.cartãoDoProjeto {
        width: 25vw;
    }

    div.participantesdoProjeto > div img {
        height: 60px;
        width: fit-content;
    }
}

@media screen and (max-width: 640px) {
    article.cartãoDoProjeto {
        width: 40vw;
    }

    article.cartãoDoProjeto p, article.cartãoDoProjeto button {
        font-size: 16px;
    }

    div.participantesdoProjeto {
        max-width: 100%;
    }

    #siteDrAndré div.popupContainerImagemCabeçalho img, #rebrandingBS div.popupContainerImagemCabeçalho img {
        object-position: right;
    }

    footer p, footer a {
        font-size: 16px;
    }
}

@media screen and (max-height: 508px) {
    #popupcontainer > * {
        max-height: 50%;
    }
}


@media screen and (max-width: 425px) {
    #cabeçalho-foto {
        display: block;
        height: 55px;
        width: 55px;
    }

    #introdução h2 {
    font-size: 32px;
    }

    #introdução p {
        font-size: 18px;
    }

    article.cartãoDoProjeto {
        width: 70%;
    }

    #popupcontainer > * {
        width: 60vw;
        padding: 10vw;
        max-height: 80%;
    }

    article.cartãoDoProjeto p.data {
        font-size: 14px;
    }
    
    div.popupContainerImagemCabeçalho img {
        width: calc(100% + 20vw);
        height: 100%;
        inset: -10vw 0 0 -10vw;
    }

    div.popupContainerImagemCabeçalho > div:first-of-type {
        width: calc(90vw);
        top: calc((-100% - 10vw));
        left: -10vw;
        background-image: linear-gradient(0deg, white 5%, transparent 26%);
    }

    li {
        font-size: 16px;
    }

    #popupcontainer > * p, #popupcontainer > * > button {
        font-size: 16px;
    }

    #popupcontainer > * > button {
        padding: 15px 35px;
    }

    div.conteúdoExtra img {
        width: 100%;
    }
}