@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Josefin Sans";
    src: url(fontes/JosefinSans-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Glacial-Regular";
    src: url(fontes/GlacialIndifference-Regular.otf);
    font-display: swap;
}

@font-face {
    font-family: "Glacial-Bold";
    src: url(fontes/GlacialIndifference-Bold.otf);
    font-display: swap;
}

@font-face {
    font-family: "Glacial-Italico";
    src: url(fontes/GlacialIndifference-Italic.otf);
    font-display: swap;
}

:root {
/*CORES*/
    --cor1: #8F71FF;
    --cor1_escurecida: #5123ff;
    --cor1_clareada: #cbbeff;
    --cor1_clareada_semitransparente: #cbbeff50;

    --cor2: #82ACFF;
    --cor2_escurecida: #3478ff; 
    --cor2_clareada: #cfdfff;
    --cor2_clareada_semitransparente: #cfdfff50;

    --cor3: #8BFFFF;
    --cor3_escurecida: #3dffff;
    --cor3_clareada: #d8ffff;
    --cor3_clareada_semitransparente: #d8ffff50;

    --cor4: #FF5D9E;
    --cor4_escurecida: #ff0f6f;
    --cor4_clareada: #ffaacc;
    --cor4_clareada_semitransparente: #ffaacc50;

/*DECORATIVOS*/
    --sombra_leve: 0px 0px 5px #00000030;
    --sombra_aparente: 0px 0px 10px #00000050;

/*FONTES*/
    --título: "Josefin Sans", sans-serif;
    --texto: "Glacial-Regular", sans-serif;
    --texto_observação: "Lato", sans-serif;
}

/*↓ REGRAS GERAIS ↓*/
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: var(--título);
}

h1 {
font-size: 32px;
}

h2 {
font-size: 32px;
}

h3 {
font-size: 28px;
}

p {
    font-family: var(--texto);
    font-size: 20px;
}

a {
    font-family: var(--título);
    color: black;
    text-decoration: none;
}

/*↓ DESIGN DO CABEÇALHO ↓*/
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 10px 0px;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 180px;
}

header nav {
    margin-top: 5px;
}

header nav > a {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10px;
    padding: 15px 20px;
    color: white;
    background-color: var(--cor1);
    border: 2px solid var(--cor1);
    border-radius: 15px;
    transition-duration: 250ms;
    box-shadow: var(--sombra_leve);
}

header nav > a:hover {
    transform: scale(1.1);
    font-weight: bold;
    background-color: var(--cor1);
    border: 2px solid var(--cor1_escurecida);
}

header nav > a:active {
    background-color: var(--cor1_escurecida);
    transform: scale(0.9);
}

#cabeçalho--texto-foto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#apresentação-foto-perfil {
    margin: 15px 30px;
    width: 80px;
    top: 15px;
    left: 30px;
    border-color: var(--cor1);
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
}

#cabeçalho--texto-foto h1 {
    font-family: var(--título);
    margin-top: 5px;
}

#cabeçalho--texto-foto p {
    display: none;
}

#apresentação-linkedin {
    display: none;
}
/*↑ DESIGN DO CABEÇALHO ↑*/

/*↓ MAIS INFORMAÇÃO ↓*/
div.informação {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #c5c5c550;
    border-radius: 10px;
    width: fit-content;
    margin: 40px auto 0px auto;
    padding: 10px 20px;
}

div.informação p {
    font-size: 18px;
}

div.informação-ícone {
    height: 25px;
    width: 25px;
    margin: auto;
    background-color: #808080;
    -webkit-mask: url(imagens/bio/info-fill.svg) no-repeat center;
    mask: url(imagens/bio/info-fill.svg) no-repeat center;
}

div.informação a {
    color: black;
    text-decoration: underline solid black 1px;
}

div.informação a::after {
    content: "↗"
}
/*↑ MAIS INFORMAÇÃO ↑*/

/*↓ RESPONSIVIDADE DO SITE ↓*/
@media screen and (max-width: 930px) {
    #apresentação-foto-perfil {
        width: 50px;
        margin: 0px 10px 0px 0px;
    }
    
    #cabeçalho--texto-foto h1 {
        font-size: 25px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 803px) {
    header {
        display: flex;
        padding: 20px 0px;
        margin-bottom: 0px;
        z-index: 1;
        background: var(--cor1);
        box-shadow: 0px 0px 25px var(--cor1);
    }

    nav {
        display: none;
    }

    #cabeçalho--texto-foto {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        flex: 1 1 100%;
    }

    #apresentação-foto-perfil {
        margin-right: 20px;
        width: 70px;
    }

    #cabeçalho--texto-foto h1, #cabeçalho--texto-foto p {
        color: white;
        text-shadow: 0px 0px 1px #00000050;
    }

    #cabeçalho--texto-foto h1 {
        font-size: 32px;
        margin-right: 0px;
    }

    #cabeçalho--texto-foto p {
        display: block;
        flex: 1 1 100%;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #apresentação-foto-perfil {
        width: 60px;
        border: none;
    }

    #cabeçalho--texto-foto h1 {
        font-size: 28px;
    }

    #cabeçalho--texto-foto p {
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    #apresentação-foto-perfil {
        display: none;
    }

    #apresentação-linkedin {
        display: block;
        width: 55px;
        margin-left: 20px;
    }

    #apresentação-linkedin:active {
        transform: scale(0.9);
    }

    #cabeçalho--texto-foto h1 {
        font-size: 25px;
    }

    div.informação {
        width: 200px;
    }
}

@media screen and (max-width: 350px) {
    #apresentação-linkedin {
        width: 50px;
        margin-left: 10px;
    }

    #cabeçalho--texto-foto h1 {
        font-size: 20px;
    }

    #cabeçalho--texto-foto p {
        font-size: 16px;
    }
}

@media screen and (max-width: 319px) {
    body {
        background: #ebebeb;
    }

    header {
        display: none;
    }

    main {
        display: none;
    }

    main.tela-pequena {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    div.tela-pequena img {
        width: 30vw;
    }

    div.tela-pequena img.tela-pequena-qr-code {
        width: 100%;
    }

    div.tela-pequena {
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: var(--sombra_leve);
        text-align: center;
    }

    div.tela-pequena p {
        font-size: 18px;
        margin: 20px auto;
    }

    div.tela-pequena hr {
        border: 2px solid #c5c5c5;
        border-radius: 10px;
        margin: 20px auto;
        width: 50%;
    }

    div.tela-pequena > div.xda p {
        font-family: var(--título);
        text-align: center;
        font-weight: bold;
    }

    div.código {
        background-color: var(--cor1_clareada);
        padding: 1px;
        border-radius: 15px;
    }

    div.código p {
        font-family: var(--texto_observação);
        color: var(--cor1_escurecida);
        text-align: center;
        font-weight: normal;
    }
}