---
import Default from "../layouts/Default.astro";
import HeroSection from "../components/HeroSection.astro";
import Button from "../components/Button.astro";
---
<Default title="Página não encontrada" description="Ops.. Parece que algo deu errado." pageType="webiste">
  <HeroSection heroTitle="Ops... parece que algo deu errado" heroSubtitle="Não foi possível encontrar a página que busca." heroCustomButtons={true}>
    <a href="/"><Button btnSize="L" btnText="Voltar à página inicial" btnType="hero" btnIcon="Undo2"/></a>
  </HeroSection>
</Default>