---
import Default from '../layouts/Default.astro';
import HeroSection from '../components/HeroSection.astro';
import ContentHolder from '../components/ContentHolder.astro';
import SiteSection from '../components/SiteSection.astro';
import Button from '../components/Button.astro';
import ButtonGroup from "../components/ButtonGroup.astro";
---
<Default pageType="webiste" title="Freelancer" description="sad">
  <HeroSection heroTitle="Precisa de ajuda com um problema?" heroSubtitle="Você não precisa resolver tudo sozinho. Tenha um braço direito para o seu negócio."/>

  <ContentHolder id="content" orientation="column">
    <SiteSection title="Implementação de funil de vendas" description="Defina e analise cada etapa do seu processo de vendas para otimizar os leads do Marketing, reduzir o seu <em>leadtime</em>, automatizar <em>follow-ups</em> e liberar o Comercial para que foquem nos leads com maior chance de fechar negócio.<br><br><strong>Serviços</strong>: rastreamento avançado de leads no CRM (e WhatsApp!), tráfego pago, automação de processos e sistemas, relatórios e insights automatizados." imageAltText="teste">
      <a href="/freelancer/implementacao-de-funil-de-vendas"><Button btnSize="M" btnText="Veja como funciona"/></a>
    </SiteSection>

    <SiteSection title="Automação de processos e sistemas" description="Você não precisa ficar refém das opções do mercado. Tenha sua própria solução, que funciona exatamente como a sua equipe precisa e se integra perfeitamente com os seus processos e rotina de trabalho.<br><br><strong>Serviços</strong>: automações personalizadas para os programas que a sua empresa utiliza." imageAltText="teste" orientation="RTL">
      <a href="/freelancer/automacao-de-processos-e-sistemas"><Button btnSize="M" btnText="Veja como funciona"/></a>
    </SiteSection>

    <SiteSection title="Relatórios Ads e insights automatizados" description="Veja as informações como qualificação dos leads (no funil), quantos viraram clientes, de quais anúncios vieram e qual o ROAS alcançado, e obtenha insights acionáveis para evitar o desperdício de recursos.<br><br><strong>Serviços</strong>: rastreamento avançado de leads no CRM (e WhatsApp!), relatórios e insights automatizados." imageAltText="teste">
      <a href="/freelancer/relatorios-ads-e-insights-automatizados"><Button btnSize="M" btnText="Veja como funciona"/></a>
    </SiteSection>

    <SiteSection title="Desenvolvimento de sites" description="Revitalize a presença da sua empresa na internet com um site rápido e intuitivo, pensado para melhor rastreamento de leads, SEO, inteligência de campanhas de anúncios e que se integra ao seu CRM.<br><br><strong>Serviços</strong>: web design, programação/manutenção de blogs e websites, relatórios e insights automatizados." imageAltText="teste" orientation="RTL">
      <a href="/freelancer/desenvolvimento-de-sites"><Button btnSize="M" btnText="Veja como funciona"/></a>
    </SiteSection>

    <SiteSection title='Entre em contato' description='Quer solidificar o seu Marketing Digital e fortalecer a presença digital da sua empresa e seus produtos? Entre em contato comigo pelo e vamos conversar!<br><br>Para contratações freelancer, por favor, forneça as informações gerais do seu projeto de antemão para agilizar a análise do caso.' orientation='LTR' imageName='informacoes-de-contato' imageSaturate={false} imageAltText='Diagrama radial com uma foto de André Moura Santos no centro, representando um ponto de contato central. Quatro logos de plataformas digitais circundam a foto e estão conectados a ela: WhatsApp , Google Meet (videoconferências), Gmail (e-mail) e LinkedIn (rede profissional). O diagrama ilustra as diversas maneiras de entrar em contato com André Moura Santos através dos diferentes canais digitais para comunicação.'>
      <a href="https://api.whatsapp.com/send/?phone=5541935009236&text=Oi%2C%20gostaria%20de%20entrar%20em%20contato%20para%20apresentar%20meu%20projeto" target="_blank"><Button btnText="Fale comigo" btnIcon="WhatsApp" btnSize="M" btnType="primary"/></a>
    </SiteSection>
  </ContentHolder>
</Default>