---
import Icon from "./Icon.astro";

interface Props {
  id?:string;
  btnText?:string;
  btnSize:ButtonSize;
  btnDisabled?:boolean;
  btnIcon?:IconName;
  btnType?:"primary" | "secondary" | "tertiary"|"hero";
}

const { id, btnText, btnSize, btnDisabled, btnIcon, btnType } = Astro.props;
---
<button disabled={btnDisabled} id={id} class:list={[
  btnIcon ? "hasIcon" : "",
  btnSize === "L" ? "size_L" : "",
  btnSize === "M" ? "size_M" : "",
  btnType
]}>
  {!btnText ? <span>Saiba mais</span>
    : btnText === "none" ? "" : <span>{btnText}</span>
  }

  {btnIcon ?
    <Icon iconName={btnIcon} iconSize={btnSize === "L" ? 16 : 14} iconColor={btnDisabled ? '#8D8D8D' : btnType === "tertiary" ? "#9370FF" : "white"}/> :
    ""
  }
</button>

<style is:global>
  button.tertiary:hover > svg, button.tertiary:focus > svg {
    stroke: white;
  }
</style>

<style>
  button.hasIcon {
    gap: 32px;
    padding-right: var(--padding_2x);
  }

  button div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button:disabled {
    cursor: not-allowed;
    background-color: var(--colors-button_background_disabled) !important;
  }

  button:disabled span {
    color: var(--colors-button_text_disabled) !important;
  }

  button {
    width: fit-content;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0px var(--padding_8x) 0px var(--padding_2x);
    background-color: var(--colors-button_background);
    box-shadow: none;
    cursor: pointer;
    border: none;
    outline: 2px solid transparent;
  }

  button:hover:not(:disabled) {
    background-color: var(--colors-accent_dark);
  }

  button:active:not(:disabled), button:focus:not(:disabled) {
    background-color: var(--colors-accent_darker);
    outline: 2px solid var(--colors-accent);
    box-shadow:
      inset 1px 1px white,
      inset -1px -1px white;
    outline-offset: 0px;
  }

  button.secondary {
    background-color: var(--colors-button_background_secondary);
  }

  button.secondary:hover:not(:disabled) {
    background-color: var(--colors-button_background_secondary_dark);
  }

  button.secondary:active:not(:disabled), button.secondary:focus:not(:disabled) {
    background-color: var(--colors-button_background_secondary_darker);
  }

  button.tertiary {
    background-color: var(--colors-button_background_tertiary);
    outline: 1px solid var(--colors-button_background);
    outline-offset: -1px;
  }

  button.tertiary:not(:hover) span {
    color: var(--colors-button_background);
  }

  button.hero {
    background-color: var(--colors-button_background_hero);
  }

  button.hero:hover:not(:disabled) {
    background-color: var(--colors-button_background_hero_hover);
  }

  button.hero:active:not(:disabled), button.hero:focus:not(:disabled) {
    background-color: var(--colors-button_background_hero_active);
    outline: 2px solid var(--colors-button_background_hero);
  }

  button:active:not(:disabled) span, button:focus:not(:disabled) span {
    color: var(--colors-button_text);
  }

  button span {
    font-size: 14px;
    color: var(--colors-button_text);
  }

  button.size_M {
    height: 40px;
  }

  button.size_L {
    height: 48px;
  }

  button.size_L span {
    font-size: 16px;
  }
</style>