@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /*FONTS*/
  --font_title: 'Lexend';
  --font_paragraph: 'Poppins';
  --font_loading: 'Flow Circular';
  --font-size_display: 48px;
  --font-size_x-large: 40px;
  --font-size_large: 32px;
  --font-size_medium: 24px;
  --font-size_small: 20px;
  --font-size_default: 16px;
  --font-size_x-small: 14px;

  /*COLORS*/
  --colors_background: white;
  --colors_accent: black;
  --colors_title: #141414;
  --colors_paragraph: #1F1F1F;
  --colors_hero-gradient: white;

  /*PADDINGS*/
  --padding_04x: 2px;
  --padding_02x: 4px;
  --padding_1x: 8px;
  --padding_2x: 16px;
  --padding_3x: 24px;
  --padding_4x: 32px;
  --padding_5x: 40px;
  --padding_6x: 48px;
  --padding_8x: 64px;
  --padding_10x: 80px;

  /*BODY MARGIN*/
  --body-margin_x-large: 16px;
  --body-margin_large: 16px;
  --body-margin_medium: 16px;
  --body-margin_small: 0px;

  /*BODY WIDTH*/
  --body-width_x-large: 1312px;
  --body-width_large: 1056px;
  --body-width_medium: 672px;
  --body-width_small: 320px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--font_paragraph);
  color: var(--colors_paragraph);
  list-style-position: inside;
}

p {
  font-size: var(--font-size_default);
}

html {
  margin-inline: var(--body-margin_x-large);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font_title);
  font-weight: bold;
  color: var(--colors_title);
}

a:has(button) {
  display: block;
  text-decoration: none;
  width: fit-content;
}

@media screen and (max-width: 672px) {
  :root {
    /*FONTS*/
    --font-size_display: 32px;
    --font-size_x-large: 32px;
    --font-size_large: 24px;
    --font-size_medium: 20px;
    --font-size_small: 16px;
    --font-size_x-small: 12px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    /*FONTS*/
    --font-size_display: 28px;
    --font-size_x-large: 28px;
    --font-size_large: 20px;
    --font-size_medium: 16px;
    --font-size_small: 16px;
    --font-size_x-small: 12px;
  }
}