*.loadingSkeleton, *.loadingSkeleton *, *.loadingSkeleton:deep(*) {
  font-family: var(--font-loading);
  animation: ease-in-out loading 1s infinite;
}

  @keyframes loading {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
  }

*.loadingSkeleton .skeletonIcon {
  background-color: hsl(0, 0%, 63%);
  border-radius: 8px;
}