---
import '../assets/main.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="/public/favicon.png" type="image/png">
    <title>{title} | André S.</title>
  </head>
  <body>
    <Header/>
    <slot/>
    <Footer/>
  </body>
</html>